@use "/src/sass/base/variables.scss" as *;

// Mixin for title styles
@mixin title {
  color: $dark;
  font-weight: 500;
  line-height: normal;
}

// Mixin for button styles
@mixin button {
  width: 220px;
  min-height: 40px;
  padding: 10px 15px;
  border: 1px solid $dark;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  place-content: center;
  border-radius: 5px;
  background-color: #ffffff;
  color: $dark;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@mixin angle-decoration {
  position: relative;
  &::after,
  &::before {
    content: "";
    display: block;
    background-color: $dark;
    top: 0px;
    left: 0px;
    position: absolute;
  }
  &::before {
    width: 200px;
    height: 1px;
  }
  &::after {
    width: 1px;
    height: 200px;
  }
}
