@use "/src/sass/base/variables.scss" as *;

.footer {
  background-color: $dark;
  margin-top: 50px;
  padding: 50px 0;
  color: $light;
  .just-validate-error-field {
    border-bottom: 1px solid $ui-error;
    outline: transparent;
    &::placeholder {
      color: $ui-error;
    }
  }
  &__item {
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    margin-top: 40px;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
  }
  &__input {
    min-height: 32px;
    padding: 5px 5px 15px 5px;
    border: none;
    border-bottom: 1px solid $light;
    background-color: transparent;
    background-color: $dark;
    color: $light;
    &::placeholder {
      color: $ui-active;
      font-size: 14px;
      font-weight: 400;
    }
  }
  label {
    color: $light;
  }
  &__links {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 66px;
  }
  &__nav {
    margin-top: 40px;
  }
  &__list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0;
    list-style: none;
  }

  &__link {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: $light;
    text-decoration: none;
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    color: $light;
  }
  &__social {
    margin-top: 40px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    a {
      font-size: 24px;
      display: inline-block;
      &::before {
        margin: 0;
      }
      &:focus {
        color: $ceramic;
      }
    }
  }
}

.copyright {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .footer {
    &__wrapper {
      display: grid;
      grid: 1fr 1fr/ 1fr 1fr;
      row-gap: 40px;
    }
    &__item {
      &:first-child {
        grid-column: 1 / -1;
      }
      &:last-child {
        justify-self: end;
      }
    }
    &__nav {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__wrapper {
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: auto;
      row-gap: 0;
      column-gap: 50px;
    }
    &__item {
      &:first-child {
        grid-column: 1 / 2;
      }
      &:nth-child(2) {
        grid-column: 2 / 3;
      }
      &:last-child {
        grid-column: 3 / -1;
      }
    }
    &__nav {
      gap: 0 66px;
    }
    &__social {
      margin-top: 0;
    }
  }
  .copyright {
    margin-top: 50px;
  }
}
