@use "/src/sass/base/variables.scss" as *;
.git {
    padding-top: 60px;
    &__wrapper {
        margin-block-start: 60px;
    }
    &__img {
        display: none;
    }

    &__fieldset {
        margin: 0 0 8px 0;
        border: none;
        padding: 0;
    }
    &__label {
        display: block;
        color: $dark;
        font-size: 14px;
        line-height: 2;
    }
    &__input {
        width: 100%;
        height: 48px;
        padding: 10px 15px;
        border: 1px solid #E2E1E5;
        border-radius: 2px;
        background-color: #FFFFFF;
        color:$dark;
        transition: all .3s ease-in-out;
        &:focus {
            outline:1px solid $dark;
        }
        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
            line-height: 200%;
        }
        
    }
    &__textarea {
        width: 100%;
        height: 132px;
        padding: 10px 15px;
        resize: none;
        border: 1px solid #E2E1E5;
        border-radius: 2px;
        background-color: #FFFFFF;
        transition: all .3s ease-in-out;
        &:focus {
            outline:1px solid $dark;
        }
        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
            line-height: 2;
        }
    }
    &__permission {
        display: flex;
        align-items: center;
        padding: 20px 0;
        a {
            color: #A22DC6;
            text-decoration: none;
            margin-left: 4px;
            
        }
    }
    &__checkbox {
        width: 15px;
        height: 15px;
        border: 1px solid $dark;
        border-radius: 2px;
        background-color: #FFFFFF;
        margin-right: 15px;
        transition: all .3s ease-in-out;
        &:checked {
            background-color: #5E5BFF;
            border-color: $dark;
        }
    }
    &__img-vase {
        display: none;
    }  
}

@media screen and (min-width:768px) {
    .git {
        &__wrapper {
            margin-block-start: 45px;
        }
        &__form {
            &-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
        &__fieldset-item {
            width: 300px;
        }
        &__textarea {
            width: 300px;
        }
        &__img-vase {
            display: block;
            width: 85px;
            height: 85px;
            align-self: flex-end;

        }
    }

}

@media screen and (min-width:1200px) {
    .git {
        &__wrapper {
            margin-block-start: 80px;
        }
        &__img {
           display: block;
            width: 550px;
            height: 340px;
            box-shadow: $shadow;
            margin-right: 20px;
           
        }
        &__form {
            padding: 0 0 0 20px;
        }
        
        &__input {
            &:hover {
                border: none;
                outline: 1px solid $dark;
            }
        }

    }  
}

@media screen and (min-width:1920px) {
    .git {
        &__img {
            width: 573px;
            height: 356px;
            margin-right: 75px;
        }
        &__form {
            padding: 0 75px;
        }
    }

}

