@use "/src/sass/base/variables.scss" as *;
.hero {
    padding-top: 50px;
   
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    &__img {
        max-width: 100%;
        object-fit: cover;
        box-shadow:$shadow;
    
    }
    #potter {
        display: none;
    }

}
@media screen and (min-width: 768px) {
    .hero {
        &__wrapper {
            margin-top: 50px;
            flex-direction: row;
            align-items: center;
            
        }
        h1 {
            transform: translateY(90px);
        } 
       
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        height: 100vh;
        position: relative;
        #potter {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 450px;
            height: 100%;
            padding-right: 13px;
           
        }
    }
    
}