@use "/src/sass/base/variables.scss" as *;

.works {
  padding-top: 60px;
  padding-bottom: 90px;
  &__title {
    font-size: 30px;
  }
  &__wrapper {
    position: relative;
  }
  &__slider {
    margin-top: 40px;
  }

  /* fix 100% width for images */
  .swiper-slide img {
    width: 100%;
  }
  /* Hide arrows on mobile */
  &__slider-nav {
    display: none;
  }
  .swiper-pagination {
    bottom: -35px;
  }

  .swiper-pagination-bullet {
    background-color: $dark;
    opacity: 1;
    border-radius: 0;
    width: 10px;
    height: 10px;
    -webkit-tap-highlight-color: transparent;
    &-active {
      background-color: $ceramic;
    }
  }
}

@media screen and (min-width: 768px) {
  .works {
    &__slider {
      margin-top: 45px;
    }
    .swiper-slide img {
      width: 400px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .works {
    &__wrapper {
      position: relative;
    }
    &__slider {
      margin: 80px 40px 0 40px;
    }
    .swiper-slide img {
      width: 100%;
      margin: 0;
    }
    .swiper-pagination {
      bottom: -30px;
    }

    &__slider-nav {
      display: block;
      font-size: 21px;
      position: absolute;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      color: $dark;
      top: 50%;
      transform: translateY(-50%);
      &::before {
        width: auto;
        margin: 0;
      }
    }
    .icon-left-open {
      left: 13px;
    }
    .icon-right-open {
      right: 13px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .works {
    padding-top: 100px;

    &__slider {
      margin: 80px 85px 0 85px;
    }
    &__slider-nav {
      font-size: 23px;
    }
    .icon-left-open {
      left: 30px;
    }
    .icon-right-open {
      right: 30px;
    }
  }
}
