@use '/src/sass/base/variables.scss' as *;

.btn-form {
    width: 220px;
    min-height: 40px;
    padding: 10px 0;
    border: 1px solid $dark;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    place-content: center;
    border-radius: 5px;
    background-color: #ffffff;
    color: $dark;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover {
        border: none;
        outline: 1px solid $ceramic;
        color: $ceramic;
    }
}

@media screen and (max-width: 768px) {
    .btn-form {
        &:active, &:focus {
            outline: 1px solid $ceramic;
            border: none;
            color: $dark;
        }
    }   
}


@media screen and (max-width: 1200px) {
    .git {
        &__wrapper {
            margin-block-start: 80px;
        }
    }
}