@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixin.scss" as *;

.submit__btn {
  @include button;
  background-color: transparent;
  border: 1px solid $light;
  border-radius: 2px;
  min-height: 40px;
  color: $light;
  width: 90px;
  font-size: 16px;
  font-weight: 400;
  &:disabled {
    background-color: transparent;
    color: $ui-disabled;
    border-color: $ui-disabled;
  }
}
