@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixin.scss" as *;

.title__h1{
    @include title;
    font-size: clamp(24px, 1vw + .5rem, 32px);
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    margin-block-start: 50px;
    margin-inline: 5px;
    width: 330px;
    
}

.title__h2 {
    @include title;
    font-size: clamp(32px, 5vw, 40px);
    font-weight: 500;
    color: $dark;
    text-align: center;
    text-transform: uppercase;
}

.title__h3 {
    @include title;
    font-size: clamp(20px, 5vw, 24px);
    font-weight: 500;
    color: $dark;
    text-align: center;
    text-transform: uppercase;
}

